meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="http://localhost:8080/bootstrap/bootstrap.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
script(await src="http://localhost:8080//bootstrap/jquery.min.js") 
script(src="http://localhost:8080//bootstrap/bootstrap.min.js") 
script(src="http://localhost:8080//bootstrap/popper.min.js") 