input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card-header {
  background-image: linear-gradient(
    to top,
    #09203f 0%,
    #537895 100%
  ) !important;
}

button.btn[type="submit"] {
  background-image: linear-gradient(
    to top,
    #09203f 0%,
    #537895 100%
  ) !important;
  color: white;
}
