doctype html
html(lang="en")
    head
      link(rel="stylesheet", href="stylesheets/createBlog.css")
      script(await src="javascripts/createBlog.js")
    body 
        .card 
            .card-header 
                h2.text-white.quick-sand-font Write A New Blog
            .card-body 
                form(enctype="multipart/form-data")#createBlogForm
                    .form-group 
                        input.form-control.title-field(type="text", name="title",placeholder="Title")
                        span.title-error.text-danger.d-none
                    .form-group 
                        input.form-control.author-field(type="text", name="author",placeholder="Author Name")
                        span.author-error.text-danger.d-none
                    .form-group 
                        select.form-control.select-field(name="category") 
                            option(value="0") Select Category 
                            each category,i in categories
                              option.text-capitalize(value=category.name)=category.name
                        span.select-error.text-danger.d-none
                    .form-group 
                        input.form-control.image-field(type="file", name="image" accept="image/*")
                        span.image-error.text-danger.d-none
                    .form-group 
                        textarea.form-control.content-field(name="content", cols="30", rows="10") 
                        span.content-error.text-danger.d-none
                    div(align="right") 
                        button.btn.px-4.py-2.rounded-0.quick-sand-font(type='submit') SAVE
                        button.btn.btn-danger.d-none.loading-btn(disabled)
                           span.spinner-border.spinner-border-sm.mr-2 
                           span Loading..
